PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=mM9FSfLgBXjQwfdSImC1OgY78KIVhPK8
DRIVE_DISK=local
DB_CONNECTION=pg
SESSION_DRIVER=cookie
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
